<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/resetstyles.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/card.css">
    <link rel="stylesheet" href="../css/home.css">
    
    <title>Home for PreSer</title>
</head>
<body>
    <header class="main-header">
        <a class="main-logo" href="#">
        <strong>PreSer</strong>
        </a>
        <nav id="nav" class="main-nav">
        <div class="nav-links">
            <a class="link-item" href="#somos">Quienes somos</a>
            <a class="link-item" href="#funciona">Como Funcionamos</a>
            <a class="link-item" href="#contacto">Contactanos</a>
            <a class="link-item" href="/login">Login</a>
        </div>
        </nav>
        <button id="button-menu" class="button-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </header>
    <script src="../js/nav.js"></script>

    <div class="grancontenedor">
        <div class="contenedor">
            <div class="card">
                <div class="card-encabezado">
                    <img src="https://magazine.joomla.org/images/easyblog_images/637/f32ff9eefb43b2acec245bea9b41330e_XL.jpg" alt="">
                </div>
                <div class="card-contenido">
                    <div class="info-personal desplazar">Registrarse como Usuario</div>
                    <div class="info-personal desplazar"></div>
                    <div class="info-personal desplazar">
                        <p></p>
                    </div>
                    
                </div>
                <div class="card-acciones">
                    <button class="botones agrandar">
                        <span class="fas fa-envelope">
                            <a href="/vistaregistrousu">Registrate</a> 
                        </span>
                    </button>
                </div>
            </div>
    <footer>
        <label for="">©Todos los derechos Reservados</label>
    </footer>
</body>
</html>