<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/resetstyles.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/card.css">

    
    <title>Home for PreSer</title>
</head>
<body>
    <header class="main-header">
        <a class="main-logo" href="#">
        <strong>Bienvenido: <%=nombre%></strong>
        </a>
        
        <nav id="nav" class="main-nav">
        <div class="nav-links">
<<<<<<< HEAD
            <a class="link-item" href="#">link1</a>
            <a class="link-item" href="#">Link2</a>
            <a class="link-item" href="#">Cerrar sesion</a>
<!--             <section>
                <a class="link-item" href="#"></a>
            </section> -->
=======
            <a class="link-item" href="/login">login</a>
            <a class="link-item" href="#">link2</a>
            <a class="link-item" href="#">Link3</a>
            <a class="link-item" href="#">Link4</a>
>>>>>>> b8e44245bf8d6fc0da1e65dc7abbcfaf27961e1c
        </div>
        </nav>
        <button id="button-menu" class="button-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </header>
    <script src="../js/nav.js"></script>
    <h2>Categorias mas Populares</h2>
    <div class="grancontenedor">
        <div class="contenedor">
            <div class="card">
                <div class="card-encabezado">
                    <img src="https://magazine.joomla.org/images/easyblog_images/637/f32ff9eefb43b2acec245bea9b41330e_XL.jpg" alt="">
                </div>
                <div class="card-contenido">
                    <div class="info-personal desplazar">Gestion De Usuarios</div>
                    <div class="info-personal desplazar">Lorem ipsum dolor sit amet.</div>
                    <div class="info-personal desplazar">
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                    
                </div>
                <div class="card-acciones">
                    <button class="botones agrandar">
                        <span class="fas fa-envelope">
                            <a href="/gestionusuario">Usuarios</a> 
                        </span>
                    </button>
                </div>
            </div>
    
        </div>
    
        <div class="contenedor">
            <div class="card">
                <div class="card-encabezado">
                    <img src="https://blog.comparasoftware.com/wp-content/uploads/2021/02/tipos-de-clientes-de-ecommerce-1.png" alt="">
                </div>
                <div class="card-contenido">
                    <div class="info-personal desplazar">Gestion De Clientes</div>
                    <div class="info-personal desplazar">Lorem ipsum dolor sit amet.</div>
                    <div class="info-personal desplazar">
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                    
                </div>
                <div class="card-acciones">
                    <button class="botones agrandar">
                        <span class="fas fa-envelope">
                            <a href="/gestionclientes">clientes</a> 
                        </span>
                    </button>
                </div>
            </div>
    
        </div>
    
        <div class="contenedor">
            <div class="card">
                <div class="card-encabezado">
                    <img src="https://www.elcolombiano.com/binrepository/1200x800/0c86/1200d627/none/11101/OOIJ/proveedores-empresarios_38710307_20211009175751.jpg" alt="">
                </div>
                <div class="card-contenido">
                    <div class="info-personal desplazar">Gestion De Proveedores</div>
                    <div class="info-personal desplazar">Lorem ipsum dolor sit amet.</div>
                    <div class="info-personal desplazar">
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                    
                </div>
                <div class="card-acciones">
                    <button class="botones agrandar">
                        <span class="fas fa-envelope">
                            <a href="/gestionproveedores">proveedores</a> 
                        </span>
                    </button>
                </div>
            </div>
    
        </div>
    
    </div>

    <h2>Servicis  mas Populares</h2>
    <div class="grancontenedor">
        <div class="contenedor">
            <div class="card">
                <div class="card-encabezado">
                    <img src="https://magazine.joomla.org/images/easyblog_images/637/f32ff9eefb43b2acec245bea9b41330e_XL.jpg" alt="">
                </div>
                <div class="card-contenido">
                    <div class="info-personal desplazar">Gestion De Usuarios</div>
                    <div class="info-personal desplazar">Lorem ipsum dolor sit amet.</div>
                    <div class="info-personal desplazar">
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                    
                </div>
                <div class="card-acciones">
                    <button class="botones agrandar">
                        <span class="fas fa-envelope">
                            <a href="/gestionusuario">Usuarios</a> 
                        </span>
                    </button>
                </div>
            </div>
    
        </div>
    
        <div class="contenedor">
            <div class="card">
                <div class="card-encabezado">
                    <img src="https://blog.comparasoftware.com/wp-content/uploads/2021/02/tipos-de-clientes-de-ecommerce-1.png" alt="">
                </div>
                <div class="card-contenido">
                    <div class="info-personal desplazar">Gestion De Clientes</div>
                    <div class="info-personal desplazar">Lorem ipsum dolor sit amet.</div>
                    <div class="info-personal desplazar">
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                    
                </div>
                <div class="card-acciones">
                    <button class="botones agrandar">
                        <span class="fas fa-envelope">
                            <a href="/gestionclientes">clientes</a> 
                        </span>
                    </button>
                </div>
            </div>
    
        </div>
    
        <div class="contenedor">
            <div class="card">
                <div class="card-encabezado">
                    <img src="https://www.elcolombiano.com/binrepository/1200x800/0c86/1200d627/none/11101/OOIJ/proveedores-empresarios_38710307_20211009175751.jpg" alt="">
                </div>
                <div class="card-contenido">
                    <div class="info-personal desplazar">Gestion De Proveedores</div>
                    <div class="info-personal desplazar">Lorem ipsum dolor sit amet.</div>
                    <div class="info-personal desplazar">
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                    
                </div>
                <div class="card-acciones">
                    <button class="botones agrandar">
                        <span class="fas fa-envelope">
                            <a href="/gestionproveedores">proveedores</a> 
                        </span>
                    </button>
                </div>
            </div>
    
        </div>
    
    </div>

    <footer>
        <br><br><br><br><br>
        <label for="">hola</label>
    </footer>
</body>
</html>