<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/resetstyles.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/card.css">
    <link rel="stylesheet" href="../css/home.css">
    
    <title>Home for PreSer</title>
</head>
<body>
    <header class="main-header">
        <a class="main-logo" href="#">
        <strong>PreSer</strong>
        </a>
        <nav id="nav" class="main-nav">
        <div class="nav-links">
            <a class="link-item" href="#somos">Quienes somos</a>
            <a class="link-item" href="#funciona">Como Funcionamos</a>
            <a class="link-item" href="#contacto">Contactanos</a>
            <a class="link-item" href="/login">login</a>
        </div>
        </nav>
        <button id="button-menu" class="button-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </header>
    <script src="../js/nav.js"></script>

    <div class="grancontenedor">
        <div class="contenedor">
            <div class="card">
                <div class="card-encabezado">
                    <img src="https://magazine.joomla.org/images/easyblog_images/637/f32ff9eefb43b2acec245bea9b41330e_XL.jpg" alt="">
                </div>
                <div class="card-contenido">
                    <div class="info-personal desplazar">Regitrate como Usuario</div>
                    <div class="info-personal desplazar"></div>
                    <div class="info-personal desplazar">
                        <p></p>
                    </div>
                    
                </div>
                <div class="card-acciones">
                    <button class="botones agrandar">
                        <span class="fas fa-envelope">
                            <a href="/vistaregistrousu">Usuarios</a> 
                        </span>
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="card-encabezado">
                    <img src="https://magazine.joomla.org/images/easyblog_images/637/f32ff9eefb43b2acec245bea9b41330e_XL.jpg" alt="">
                </div>
                <div class="card-contenido">
                    <div class="info-personal desplazar">Regiratrate Como Asociado</div>
                    <div class="info-personal desplazar"></div>
                    <div class="info-personal desplazar">
                        <p></p>
                    </div>
                    
                </div>
                <div class="card-acciones">
                    <button class="botones agrandar">
                        <span class="fas fa-envelope">
                            <a href="/vistaregistraraso">Regiratrate</a> 
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <!-- <div class="contenedor">
            <div class="card">
                <div class="card-encabezado">
                    <img src="https://magazine.joomla.org/images/easyblog_images/637/f32ff9eefb43b2acec245bea9b41330e_XL.jpg" alt="">
                </div>
                <div class="card-contenido">
                    <div class="info-personal desplazar">Registrate como Asociado</div>
                    <div class="info-personal desplazar">Lorem ipsum dolor sit amet.</div>
                    <div class="info-personal desplazar">
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                    
                </div>
                <div class="card-acciones">
                    <button class="botones agrandar">
                        <span class="fas fa-envelope">
                            <a href="/">Registrate</a> 
                        </span>
                    </button>
                </div>
            </div>
        </div> -->
    </div>
    <div class="info"v id="somos">
        <h2>Quienes somos</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus consequuntur illo, inventore sint quos minus placeat fuga excepturi illum non obcaecati praesentium dicta. Deserunt nam dicta sequi labore suscipit facilis earum modi, laborum asperiores doloribus vitae repudiandae quisquam. Nostrum tenetur nisi ut obcaecati laborum. Nisi maxime dolor amet repudiandae doloremque est adipisci perspiciatis culpa obcaecati tempore ea, natus recusandae eum at explicabo ipsum blanditiis rerum inventore. Incidunt blanditiis aperiam, voluptate, unde facilis tenetur illum et, illo quasi sunt dolorem ab placeat recusandae culpa eos cum dolore tempora eveniet iusto. Accusantium perspiciatis laboriosam commodi ut nam consectetur mollitia deleniti, quod adipisci voluptatibus dicta expedita tenetur obcaecati neque, cum officiis quam autem quibusdam assumenda eos? Quae commodi impedit repudiandae at mollitia minima quas enim aliquid consequatur tempore fugiat sapiente, veniam similique voluptas consectetur sed, quidem quibusdam eos perspiciatis esse repellendus nisi? Id magnam quas, distinctio nobis ab pariatur enim vel repellat. Nisi nesciunt, tempora consectetur nobis corrupti blanditiis soluta? Et officia recusandae laudantium obcaecati dignissimos numquam esse quisquam sapiente aliquid iste, aspernatur amet reprehenderit officiis laborum cupiditate est accusantium ratione dolores consequatur cum qui porro odit facilis? Fugiat culpa doloremque veniam, quisquam sequi sunt nisi distinctio ut hic cupiditate, molestias quasi doloribus?</p>
    </div>
    
    <div class="info"v id="funciona">
        <h2>Como Funcionamos</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto obcaecati aliquid, error corporis iure eaque fuga ex repudiandae praesentium nemo possimus sit. Necessitatibus nulla fugit doloremque autem. Obcaecati inventore iste possimus exercitationem voluptas minus nostrum. Ratione dicta minus, perspiciatis doloribus amet eos itaque ad officia maiores numquam in suscipit at libero omnis? Alias, iste. Eligendi rem fugiat perferendis ad minima sapiente delectus laudantium magnam iste, dolor odio, quas vitae? Amet, corporis nobis exercitationem reprehenderit eos assumenda aliquid sequi dolores ea provident possimus laboriosam minima repudiandae nisi, similique quisquam minus? In, esse maxime exercitationem modi fugiat cumque necessitatibus ipsum, unde hic facere adipisci aperiam illo alias voluptatem sunt nihil quod, explicabo accusantium minima tenetur? Labore nemo explicabo quos inventore placeat vitae unde eveniet repellendus vero exercitationem accusantium sint dicta debitis, et vel! Sequi itaque sed assumenda accusantium pariatur tenetur deserunt possimus labore quibusdam vitae! Neque illum dignissimos nulla, ex blanditiis veritatis repellendus libero dolorum nobis porro necessitatibus asperiores debitis. Amet a voluptatum reprehenderit officiis, adipisci beatae, itaque deleniti dolores animi tenetur ullam! Culpa possimus officiis a ipsam maxime esse soluta. Eligendi incidunt accusamus, minus a dignissimos perferendis aliquam? Ut obcaecati eum officia laboriosam in omnis, aperiam voluptate officiis, quisquam, assumenda perspiciatis!</p>
    </div>

    <div class="info"v id="contacto">
        <h2>Contactanos</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto obcaecati aliquid, error corporis iure eaque fuga ex repudiandae praesentium nemo possimus sit. Necessitatibus nulla fugit doloremque autem. Obcaecati inventore iste possimus exercitationem voluptas minus nostrum. Ratione dicta minus, perspiciatis doloribus amet eos itaque ad officia maiores numquam in suscipit at libero omnis? Alias, iste. Eligendi rem fugiat perferendis ad minima sapiente delectus laudantium magnam iste, dolor odio, quas vitae? Amet, corporis nobis exercitationem reprehenderit eos assumenda aliquid sequi dolores ea provident possimus laboriosam minima repudiandae nisi, similique quisquam minus? In, esse maxime exercitationem modi fugiat cumque necessitatibus ipsum, unde hic facere adipisci aperiam illo alias voluptatem sunt nihil quod, explicabo accusantium minima tenetur? Labore nemo explicabo quos inventore placeat vitae unde eveniet repellendus vero exercitationem accusantium sint dicta debitis, et vel! Sequi itaque sed assumenda accusantium pariatur tenetur deserunt possimus labore quibusdam vitae! Neque illum dignissimos nulla, ex blanditiis veritatis repellendus libero dolorum nobis porro necessitatibus asperiores debitis. Amet a voluptatum reprehenderit officiis, adipisci beatae, itaque deleniti dolores animi tenetur ullam! Culpa possimus officiis a ipsam maxime esse soluta. Eligendi incidunt accusamus, minus a dignissimos perferendis aliquam? Ut obcaecati eum officia laboriosam in omnis, aperiam voluptate officiis, quisquam, assumenda perspiciatis!</p>
    </div>

    <footer>
        <br><br><br><br><br>
        <label for="">hola</label>
    </footer>
</body>
</html>