<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/resetstyles.css">
    <title>Document</title>
</head>
<body>

    <header class="main-header">
        <a class="main-logo" href="/">
          <strong>PreSer</strong>
        </a>
        <nav id="nav" class="main-nav">
          <div class="nav-links">
            <a class="link-item" href="#"></a>
            <a class="link-item" href="#"></a>
            <a class="link-item" href="#"></a>
            <a class="link-item" href="#"></a>
          </div>
        </nav>
        <button id="button-menu" class="button-menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </header>
      <script src="../js/nav.js"></script>

      <div class="login-container">
          <div class="login-info-container">
            <h1 class="title">Log in with</h1>
            <form class="inputs-container" action="/iniciosesion" method="post">
                <input class="input" type="text" placeholder="Username" name="username">
                <input class="input" type="password"placeholder="Password" name="password">
                <p>Forgot password? <span class="span">Click here.</span></p>
                <input type="submit" value="Login" class="btn">
            </form>
          </div>
          
            <img class="image-container" src="https://zonalogistica.com/wp-content/uploads/2016/11/soporte-con-iconos_1212-151.jpg" alt="">
      </div>
</body>
</html>

